body {
    background: yellow; 
    text-align: center;
}

.picture {
    float: right;
    width: 200px;
    height: 100px;
}

div {
    background: wheat;
    padding: 30px;
    border: 10px;
    width: 200px;
}

.clearfix {
    overflow: auto;
}